/*  || RESET  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  || CLASSES  */

.container {
    background: linear-gradient(135deg, blue, darkblue, rebeccapurple, purple);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box {
    background-color: white;
    margin: 20vh auto 0 auto;
    padding: 7px;
    border-radius: 10px;
    width: 50%;
    max-height: 60vh;
    overflow: hidden;
    min-width: 255px;
    min-height: 320px;
}


.row {
    background-color: rgba(162, 16, 230, 0.5);
    border-radius: 30px;
    position: relative;
    margin: 20px;
    min-width: 204px;
    display: grid;
    grid-template-columns: 1fr 71px;
}

.taskPlace{
    overflow-x: hidden;
    word-wrap: break-word;
    height: 215px;
    display: flex;
    justify-content: center;
    scrollbar-width: thin;
    scrollbar-color: black black; 
}


/*  || ELEMENTS  */


html {
    scrollbar-width: thin;
    scrollbar-color: black black; 
}


h2 {
    font-family: cursive;
    padding: 5px 0 5px 10px;
    user-select: none;
}


input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 3px 10px 10px;
    width: 100%;
}


button {
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    position: absolute;
    right: -3px;
    background-color: orangered;
    cursor: pointer;
    user-select: none;
}


ul {
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.5rem;
    width: 80%;
    scrollbar-width: thin;
    scrollbar-color: black black; 
}  

li {
    position: relative;
    margin-left: 20px;
    padding-left: 10px;
    display: block;
    user-select: none;
    width: 90%;
    padding-right: 10px;
    cursor: pointer;
}

span {
    position: absolute;
    right: -10px;
    top: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
}


/*  || PSUEDO CLASSES  */


::placeholder {
    color: rgba(0, 0, 0, .75);
}


/* || SCROLLBAR SETTINGS */


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*  || OTHER  */


ul li::before {
    background-image: url(unchecked.png);
    background-size: cover;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    content: '';
    position: absolute;
    left: -20px;
    top: 8px;
}

ul li.checked {
    text-decoration: line-through;
    cursor: pointer;
}

ul li.checked::before {
    background-image: url(checked.png);
    background-size: cover;
    border-radius: 50%;
}

span:hover {
    background-color: #edeef0;
    cursor: pointer;
}


/* || MEDIA QURIES */


@media screen and (max-height: 435px) {
    .box {
        margin-top: 50px;
        min-height: 210px;
    }
}
